body * {
    font-family: "Arial", "Helvetica", "sans-serif", "Microsoft JhengHei";
}

.button_common,
.button_group_chg {
    background: #3d53b6!important;
    color: white!important;
    height: 30px!important;
    font-size: 12px!important;
    font-weight: 400!important;
    border: none;
    margin: 2px!important;
}

.button_group_chg {
    min-width: 150px;
}

.fieldset_common {
    width: 100%;
    border-bottom-color: rgba(200, 200, 200, 0.35);
    border-top-color: rgba(200, 200, 200, 0.35);
    ;
    border-left-color: rgba(200, 200, 200, 0.35);
    border-right-color: rgba(200, 200, 200, 0.35);
}

.fieldsets_spacing {
    height: 7px;
}

.dropdown_common {
    height: 30px;
    min-width: 200px;
}

.dropdown_mail_domain {
    height: 32px;
    min-width: 80px;
}

.dropdown_multiple {
    width: 300px;
}

select {
    font-size: 14px!important;
}

select option:checked {
    color: white!important;
    background: #3d53b6!important;
}

.overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.tableHeader,
.ui-tabview-selected,
.ui-datepicker-trigger,
.ui-chkbox-icon,
body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active,
body .ui-datepicker table td>a.ui-state-active,
body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight,
body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group.ui-state-highlight,
body .ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-list-item.ui-state-highlight,
body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container .ui-autocomplete-token {
    background: #3d53b6!important;
    color: white!important;
}

body .ui-table .ui-table-tbody>tr.ui-state-highlight {
    background: yellow!important;
    color: black!important;
    font-weight: bold!important;
}

.top_bar {
    width: 100.8%;
    height: 32px;
    background: #445188;
    position: fixed;
    z-index: 9999;
}

.top_bar_height {
    height: 35px
}

body .ui-toast .ui-toast-message.ui-toast-message-success,
body .ui-toast .ui-toast-message.ui-toast-message-error {
    background: #ffffff !important;
}

.to-do-list-btn {
    background-color: brown!important;
    border: none!important;
    border-radius: 0px!important;
}

.new-account-request-btn {
    background-color: rgb(218, 113, 56)!important;
    border: none!important;
    border-radius: 0px!important;
}

.requests-enquiry-btn {
    background-color: rgb(29, 122, 78)!important;
    border: none!important;
    border-radius: 0px!important;
}

.update-account-btn {
    background-color: rgb(218, 113, 56)!important;
    border: none!important;
    border-radius: 0px!important;
}

.account-enquiry-btn {
    background-color: rgb(36, 121, 212)!important;
    border: none!important;
    border-radius: 0px!important;
}

.disable-account-btn {
    background-color: rgb(17, 151, 163)!important;
    border: none!important;
    border-radius: 0px!important;
}

.delete-account-btn {
    background-color: rgb(146, 87, 167)!important;
    border: none!important;
    border-radius: 0px!important;
}

.enable-account-btn {
    background-color: rgb(218, 113, 56)!important;
    border: none!important;
    border-radius: 0px!important;
}

.reset-password-btn {
    background-color: rgb(186, 103, 193)!important;
    border: none!important;
    border-radius: 0px!important;
}

.personal-profiles-btn {
    background-color: rgb(36, 121, 212)!important;
    border: none!important;
    border-radius: 0px!important;
}