<div style="width:90% ;position: absolute;top: 40px;">

  <p-panel header="Personal Profile">

    <div class="p-grid">
      <div class='p-col-2'>
        <span>UAM ID</span>
      </div>
      <div class='p-col-4'>
        {{uamId}}
      </div>
    </div>

    <div class="p-grid">
      <div class='p-col-2'>
        <span>Windows Login Name</span>
      </div>
      <div class='p-col-4'>
        {{winLogin}}
      </div>
    </div>

    <div class="p-grid">
      <div class='p-col-2'>
        <span>Surname</span>
      </div>
      <div class='p-col-4'>
        {{surname}}
      </div>
    </div>

    <div class="p-grid">
      <div class='p-col-2'>
        <span>Given Name</span>
      </div>
      <div class='p-col-4'>
        {{givenName}}
      </div>
    </div>

    <div class="p-grid">
      <div class='p-col-2'>
        <span>Rank</span>
      </div>
      <div class='p-col-4'>
        {{rank}}
      </div>
    </div>

    <div class="p-grid">
      <div class='p-col-2'>
        <span>Post Title</span>
      </div>
      <div class='p-col-4'>
        {{postTitle}}
      </div>
    </div>

    <div class="p-grid">
      <div class='p-col-2'>
        <span>Internet Email Address</span>
      </div>
      <div class='p-col-4'>
        {{intMail}}
      </div>
    </div>

    <div class="p-grid">
      <div class='p-col-2'>
        <span>Notes Email Address</span>
      </div>
      <div class='p-col-4'>
        {{notesMail}}
      </div>
    </div>

    <div class="p-grid">
      <div class='p-col-2'>
        <span>Section</span>
      </div>
      <div class='p-col-4'>
        {{section}}
      </div>
    </div>

    <div class="p-grid">
      <div class='p-col-4'>
        &nbsp;
      </div>
    </div>

    <div class="p-grid">
      <div class='p-col-10'>
        <span>
          If any changes in above information, please contact corresponding section coordinator.
        </span>
      </div>
    </div>

    <div class="p-grid">
      <div class='p-col-4'>
        &nbsp;
      </div>
    </div>

    <div class="p-grid">
      <div style="margin-left: 5px;">
        <span>
          The Judiciary of the Hong Kong Special Administrative Region (“The Judiciary”) takes measures to ensure that
          all personal data submitted through the Judiciary of Hong Kong Special Administrative Region website (“This
          website”) is handled in accordance with the relevant provisions of the Personal Data (Privacy) Ordinance.
          Unless permitted or required by law, the Judiciary of the Hong Kong Special Administrative Region will not
          disclose your personal data to any third parties without your prior consent.
        </span>
      </div>
    </div>

  </p-panel>
</div>